#### Primeros pasos de python
* Variables
* Operadores matematicos
* Operadores de compararacion
* Operadores logicos
* Estructuras de control
    - Condicionales
    - Ciclos finitos e infinitos 
    - Funcionales 
* Estructuras de datos basicas 
    - Cadenas 
    - Numeros Enteros / flotantes
    - listas
    - diccionarios
    - Tuplas
* Fundamentos de programacion orientada a objetos

In [4]:
print("saludos ps")

saludos ps

In [17]:
# variables
name = "jose luis perales"
Name = "jose perales"
LastName = "primero"
last_name = "segundo"

In [18]:
last_name

'segundo'

In [7]:
last.name = "perales jose"

NameError: name 'last' is not defined

In [8]:
last_name = "jose perales"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2195715461.py, line 1)

In [19]:
number1 = 10
number2 = 20
number3 = 30.55

In [20]:
number3

30.55

In [22]:
*name = "jose luis perales"

SyntaxError: starred assignment target must be in a list or tuple (2620707111.py, line 1)

In [23]:
# operadores matematicos
result_add = number1 + number2
result_sub = number1 - number2
result_mult = number1 * number2
result_div = number1 / number2

In [30]:
print("este es el resultado de la suma", result_add )
print("este es el resultado de la resta", result_sub )
print(f"este es el resultado de la multiplicacion: {result_mult}")

este es el resultado de la suma 30
este es el resultado de la resta -10
este es el resultado de la multiplicacion: 200

In [ ]:
# Operadores booleanos
True
False

In [ ]:
# Operadores de comparacion
# mayor que >
# menor que <
# mayor o igual que >=
# menor o igual que <=
# igual? ==
# diferente !=

In [31]:
3 > 5

False

In [32]:
3 == 5

False

In [34]:
3 < 5

True

In [35]:
result_add > result_sub

True

In [39]:
# condicional simple
if result_add > result_sub:
    print(f"el resultado de la suma {result_add}, es mayor que {result_sub}")

el resultado de la suma 30, es mayor que -10

In [41]:
# condicional simple
if result_add < result_sub:
    print(f"el resultado de la suma {result_add}, es mayor que {result_sub}")
else:
    print("El resultado de la resta es menor")

El resultado de la resta es menor